[user]
    email =
    name = Michael Crawford
[alias]
    cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|main\\|dev\\|develop' | xargs -n 1 git branch -d"
    log-graph = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all -n 15
    stash-history = "!git log --oneline --grep=WIP $(git fsck --no-reflog | awk '/dangling commit/ { print $3 }')"
[branch]
    sort = -committerdate
[column]
    ui = auto
[core]
    editor = vim
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
    tool = difftastic
[difftool]
    keepBackup = false
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[difftool "vscode"]
    cmd = code --wait --new-window --diff $LOCAL $REMOTE
[fetch]
    all = true
    prune = true
    pruneTags = true
[help]
    autocorrect = prompt
[init]
    defaultBranch = main
[merge]
    conflictstyle = zdiff3
    tool = vscode
[mergetool]
    keepBackup = false
    prompt = true
[mergetool "vscode"]
    cmd = code --wait --new-window $MERGED
[pager]
    difftool = true
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    default = current
    followTags = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[rerere]
    autoupdate = true
    enabled = true
[sequence]
    editor = code --wait
[tag]
    sort = version:refname
